@model clinicalworkflow.web.services.dto.PatientClinicalDataDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PatientClinicalData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClinicalDataFieldOne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClinicalDataFieldOne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClinicalDataFieldTwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClinicalDataFieldTwo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClinicalDataFieldThree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClinicalDataFieldThree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClinicalDataFieldFive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClinicalDataFieldFive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClinicalDataFieldSeven)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClinicalDataFieldSeven)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClinicalDataFieldFour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClinicalDataFieldFourNavigation.ClinicalDataFieldFourValue) 
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClinicalDataFieldSix)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClinicalDataFieldSixNavigation.ClinicalDataFieldSixValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class="col-sm-10">
            <div>@ViewData["Patient_Name"]</div>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PatientClinicalDataId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
